<!-- Footer Snippet -->
<footer class="footer">
  <div class="container">
    <div class="footer-grid">
      <div class="footer-brand">
        <a href="/" class="brand-logo">
          <div class="logo-badge">
            <img src="/images/BUIC_logo.jpeg" alt="BUIC Seerah Quiz Logo" class="logo-badge-img">
          </div>
          <div class="logo-text">
            <!-- <span class="logo-title">BUIC Quiz</span> -->
            <span class="logo-subtitle">BRACUian Islamic Community</span>
          </div>
        </a>
        <p>
          <b>BRACUian Seerah Summit 1448 </b> is a flagship Seerah initiative by BRAC University students, bringing the life, character, leadership, and guidance of Prophet Muhammad ﷺ closer to the BRACU community through learning, competition, reflection, and collective learning.
        </p>
      </div>

      <div class="footer-col">
        <h4>সাইটম্যাপ</h4>
        <ul class="footer-links">
          <li><a href="/">হোম</a></li>
          <li><a href="/about">বই সম্পর্কে</a></li>
          <li><a href="/register">অনলাইন রেজিস্ট্রেশান</a></li>
        </ul>
      </div>

      <!-- <div class="footer-col">
        <h4>সাপোর্ট & সহায়তা</h4>
        <ul class="footer-links">
          <li><a href="/contact#faq">সাধারণ জিজ্ঞাসা (FAQ)</a></li>
          <li><a href="/login">অ্যাডমিন লগইন (Admin Login)</a></li>
          <li><a href="/contact">সরাসরি মেসেজ করুন</a></li>
        </ul>
      </div> -->

      <div class="footer-col">
        <h4>সোশ্যাল মিডিয়া</h4>
        <ul class="footer-links">
          <li><a href="https://www.facebook.com/BRACUianIslamicCommunity/" target="_blank" rel="noopener">অফিসিয়াল
              ফেসবুক পেজ 🔗</a></li>

          <li><a href="https://www.youtube.com/@BRACUianIslamicCommunity" target="_blank">ইউটিউব চ্যানেল</a></li>
        </ul>
      </div>
    </div>

  </div>
</footer>